/*
    Author: Adam Paul
    This is the to be the CSS format for my webpage.
*/

*{font-family: 'Courier New', Courier, monospace;
}

html, body{
    background-color:darkgrey;}

/*
    Style for the Index starts here
*/
.dart {
    width: 200px;
    height: 200px;
    content: url(./pictures/dart_board.jpg);}

.dartHeader {
    height: 120px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: 80px;
}

.floatLeft { float: left;
    margin-left: 30px;}

.floatRight {
    float: right;
    margin-right: 30px;}

.txt {color:maroon;
    font-size: 20px;
    display:inline-flex;
    text-align: center;
    position: relative;
    top: 80px;
    flex-direction: row;}

/*
    Style for the Index Ends Here
    Style for the Buttons start here
*/
.container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    }

.btn{
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    background-color:tan;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #F9E506;
    transition:ease-out 0.3s;
    outline: none;}

.btn:hover{
    box-shadow: inset 100px 0 0 0 #F9E506;
    cursor: pointer;
    color: black;}

/* .btn-2{
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    background-color: tan;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #F9E506;
    transition:ease-out 0.3s;
    outline: none;}

.btn-2:hover{
    box-shadow: inset 100px 0 0 0 #F9E506;
    cursor: pointer;
    color: black;}

.btn-3{
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    background-color: tan;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #F9E506;
    transition:ease-out 0.3s;
    outline: none;}

.btn-3:hover{
    box-shadow: inset 150px 0 0 0 #F9E506;
    cursor: pointer;
    color: black;}

.btn-4{
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    background-color: tan;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #F9E506;
    transition:ease-out 0.3s;
    outline: none;}

.btn-4:hover{
    box-shadow: inset 100px 0 0 0 #F9E506;
    cursor: pointer;
    color: black;}

.btn-5{
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    background-color: tan;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #F9E506;
    transition:ease-out 0.3s;
    outline: none;}

.btn-5:hover{
    box-shadow: inset 100px 0 0 0 #F9E506;
    cursor: pointer;
    color: black;}

.btn-6{
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    background-color: tan;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #F9E506;
    transition:ease-out 0.3s;
    outline: none;}

.btn-6:hover{
    box-shadow: inset 100px 0 0 0 #F9E506;
    cursor: pointer;
    color: black;}

/*
    Style for Buttons End here
    Style for Additional pages starts here
*/
.game{
    color:maroon;
    font-size: 20px;
    display:block;
    text-align: left;
    position: relative;
    top: 40px;
    flex-direction: column;
}

.cricketboard{
    width: 200px;
    height: 250px;
    content: url(cricketb.jpg);
}

.gameHeader{
    height: 120px;
    vertical-align: middle;
    text-align: justify;
    position: relative;
    top: 120px;
}