/* Start of baseball style*/
.baseballHdr {
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
}

table {
    border-collapse: collapse;
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
}
